{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-base-100 font-sansserif leading-normal tracking-normal">
		<div class="flex flex-row">

			{% include "core/sidebar.html" %}

			<main class="bg-base-100 basis-11/12 h-screen">
					
				<main class="flex-1 flex flex-col h-screen overflow-y-auto">
	
					<header class="p-4 shadow-md bg-base-100">
						{% include "core/header.html" %}
					</header>
	
					<div class="p-6 flex-grow bg-base-100">
						{% block content %}
						{% endblock %}
					</div>
	
					<footer class="p-4 text-center bg-base-100">
						{% include "core/footer.html" %}
					</footer>
	
				</main>

			</main>

		</div>

	</body>
</html>


<!-- https://youtu.be/K1e8kpoag0E?si=mxAg00pfl5ICUra4 -->