{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="aqua">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-goofy font-sansserif leading-normal tracking-normal">
		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				<h1 class="text-5xl">Django + Tailwind = ❤️</h1>

				<div>
					<button class="btn btn-active">Default</button>
					<button class="btn btn-active btn-neutral">Neutral</button>
					<button class="btn btn-active btn-primary">Primary</button>
					<button class="btn btn-active btn-secondary">Secondary</button>
					<button class="btn btn-active btn-accent">Accent</button>
					<button class="btn btn-active btn-ghost">Ghost</button>
					<button class="btn btn-active btn-link">Link</button>
				  </div>
			</section>
		</div>
		<div class="drawer lg:drawer-open">
			<input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
			<div class="drawer-content flex flex-col items-center justify-center">
			  <!-- Page content here -->
			  <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
				Open drawer
			  </label>
			</div>
			<div class="drawer-side">
			  <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
			  <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
				<!-- Sidebar content here -->
				<li><a>Sidebar Item 1</a></li>
				<li><a>Sidebar Item 2</a></li>
			  </ul>
			</div>
		  </div>
	</body>
</html>


<!-- https://youtu.be/K1e8kpoag0E?si=mxAg00pfl5ICUra4 -->