{% extends 'core/base.html' %}
{% block content %}

<p>Main content goes here. You can add your content, components, and other elements within this section. This area will expand to fill the available space between the header and the footer. Make sure to use Tailwind classes for styling.</p>
<p>Example: <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Button</button></p>
 

<div style="background-color: #38bdf8; padding: 20px;">
    <h1 style="color: #4b5563;">This is a heading in a darker gray.</h1>
    <p style="color: #6b7280;">This is some body text in a lighter gray. It's easy to read against the blue background.</p>
  </div>


<header class="bg-primary-500 text-white p-6 text-center">
</header>
<main class="p-6 bg-background">
<div class="container mx-auto bg-whiteish p-6 shadow-md">
 </div>
</main>
<nav class="bg-secondary-200 p-3">
    <ul class="flex justify-center">
        <li class="mx-4"><a href="#" class="text-primary-500 font-bold hover:underline">Home</a></li>
    </ul>
</nav>
<footer class="bg-primary-500 text-white p-3 text-center">
</footer>
{% endblock %} 