{% extends 'core/base.html' %}
{% block content %}

<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr class="border-b-4 border-accent text-centre text-xl font-semibold">
        <th>Serial number</th>
        <th>Granary</th>
        <th>Highest current temp</th>
        <th>Latest update</th>
        <th>Battery Voltage</th>
      </tr>
    </thead>
    <tbody class="divide-y-2 divide-accent">
      
      {% for granary in granaries %}
      <tr>
        
        <td>
            {{granary.serial_number}}:
        </td>

        <td>
            {{granary.description}}
        </td>

        <td>
          <div>{{granary.battery}}</div>
          <div id="latest_high_temp-{{ granary.id }}"  
            hx-get="{% url 'live_high_temp_update' granary.id %}"   
            hx-target="#latest_high_temp-{{ granary.id }}" 
            hx-trigger="every 5s">
          </div>
        </td>

        <td>
          <div id="latest_update-{{ granary.id }}"  
            hx-get="{% url 'live_latest_updates' granary.id %}"   
            hx-target="#latest_update-{{ granary.id }}" 
            hx-trigger="every 5s">
          </div>
        </td> 

        <td>
          <div id="live_battery_update-{{ granary.id }}"  
            hx-get="{% url 'live_battery_update' granary.id %}"   
            hx-target="#live_battery_update-{{ granary.id }}" 
            hx-trigger="every 5s">
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %} 