<div class="flex flex-col h-full">
    <div class="flex-none">
        <h2 class="text-2xl font-bold mb-4">GranaryWatch</h2>
    </div>
    <div class="flex-grow">
        <div class="flex flex-col space-y-4 mt-10"> <!--- Added mt-4 (margin-top)  -->
            <div><a href="#" class="hover:text-gray-400">Link 1</a></div>
            <div><a href="#" class="hover:text-gray-400">Link 2</a></div>
            <div><a href="#" class="hover:text-gray-400">Link 3</a></div>
        </div>
    </div>
    <div class="flex-none">
        <h4 class="text-2xl mb-4">Logging...</h4>
    </div>
</div>