<div class="relative flex flex-col my-0 bg-base-200 shadow-sm h-full border border-primary">      
  <div class="mx-3 mb-0 border-b border-primary pt-0 pb-2 px-1">
    <span class="text-primary text-xl font-semibold">
      GranaryWatch
    </span>
  </div>
  
  <div class="p-4">
    <h5 class="mb-2 text-primary text-xl font-semibold">
      Website Review Check Update from Our Team in San Francisco
    </h5>
    <p class="text-primary leading-normal font-light">
      The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to Naviglio where you can enjoy the main night life in Barcelona.
    </p>
  </div>
  
  <div class="mx-3 border-t border-slate-200 pb-3 pt-2 px-1">
    <span class="text-sm text-primary font-medium">
      Last updated: 4 hours ago
    </span>
  </div>
</div>