<div class="flex flex-col h-full">
    <div class="flex-none">
        <h2 class="text-2xl font-bold mb-4">GranaryWatch</h2>
    </div>
    <div class="flex-grow">
        <div class="flex flex-col space-y-4 mt-10"> <!--- Added mt-4 (margin-top)  -->
            <div><a href="#" class="hover:text-gray-400">Link 1</a></div>
            <div><a href="#" class="hover:text-gray-400">Link 2</a></div>
            <div><a href="#" class="hover:text-gray-400">Link 3</a></div>
        </div>
    </div>
    <div class="flex-none">
        <h4 class="text-2xl mb-4">Logging...</h4>
    </div>
</div>

<div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center justify-center">
      <!-- Page content here -->
      <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
        Open drawer
      </label>
    </div>
    <div class="drawer-side">
      <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
        <!-- Sidebar content here -->
        <li><a>Sidebar Item 1</a></li>
        <li><a>Sidebar Item 2</a></li>
      </ul>
    </div>
  </div>