{% extends 'core/base.html' %}
{% block content %}

<table class="table">
    <tr>
        <th>Function</th>
        <th>HEX</th>
        <th>Name</th>
        <th>Notes</th>
        <th>button</th>
    </tr>
    {% for color in colors %}
    <tr>
        <td class="bg-base-100 px-4">
            {{color.function}}
        </td>
        <td class="bg-base-100 text-{{color.function}} px-4">
            {{color.hex}}
        </td>
        <td class="bg-{{color.function}} px-4">
            {{color.name}}
        </td>
        <td class="bg-{{color.function}} px-4">
            {{color.notes}}
        </td>
        <td class="bg-base-100 px-4">
            <button class="btn btn-{{color.function}}">{{color.function}}</button>
        </td>
    </tr>
    {% endfor %}
</table>
<div>
    <button class="btn btn-active">Default</button>
    <button class="btn btn-active btn-neutral">Neutral</button>
    <button class="btn btn-active btn-primary">Primary</button>
    <button class="btn btn-active btn-secondary">Secondary</button>
    <button class="btn btn-active btn-accent">Accent</button>
    <button class="btn btn-active btn-success">Success</button>
    <button class="btn btn-active btn-warning">Warning</button>
    <button class="btn btn-active btn-error">Error</button>
    <button class="btn btn-active btn-ghost">Ghost</button>
    <button class="btn btn-active btn-link">Link</button>
  </div>

{% endblock %} 